@model Blog.Entities.Blog
<h2 class="h3 text-danger mb-3">Posts from @Model.Name:</h2>

@foreach (var post in Model.Posts)
{
    <h3 class="h5 m-0">@post.Title</h3>
    @if (post.Body.Length > 350)
    {
        <div>@post.Body[..350] ...</div>
    }
    else
    {
        <div>@post.Body</div>
    }
    <div class="text-right">
        <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-id="@post.Id"
           class="btn btn-link">More</a>
    </div>
    <hr />
}